main {
    background-color: rgba(51, 51, 51, .80);
    margin:1em 1em;
    border-radius: 25px;
}
body{
    background: url(/Images/corruscant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.mainTitle {
    background-color: darkslategrey;
    font-weight: bold;
    font-size: 48px;
    color: darkgoldenrod;
    text-align: center;
}
.mainTitle {
    background: radial-gradient(ellipse at bottom, white, black);
    border-radius: 50px;
}
.mainTitle img{
    float: left;
    padding:.2em;
    border-radius: 50%;

}
.sloganBanner {
    font-weight: bold;
    font-size: 36px;
    color: darkgoldenrod;
    text-align: center;
}

.sloganBanner{
    background: radial-gradient(ellipse at top, white, black);
    border-radius: 50px;
}



.introInfo {
    font-size: 24px;
    color: darkgoldenrod;
    text-align: center;
}
footer{color:white;
       text-align:center;
}
/*#region Nav*/
#nav ul{
    background-color: none;
    padding: .5em 1em;
       
}
#nav li:hover {
    background-color: blue;
    
}
#nav ul li{
    
    }
#nav a {
    color: darkgoldenrod;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: .5em 5.5em;
    font-size:24px;
}
#nav a:hover  {
    color: black;
    font-style: italic; 
}
#nav ul li {
    display: inline-block;
    list-style: none;
    
}
#nav {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#nav li{ 
    display: table-cell;
}
#nav a {
    display: block;
    text-align: center;
    
}
#nav {
    background-image: url('../Images/Hyperspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}
/*#endregion*/

/*#region contactus*/
.contactInfo{
    text-align: center;
}
.contactInfo a{ 
    color: darkred;
   
}
.contactInfo p{
    color: orangered;
    font-weight: bold;
        font-size: 24px
        
}

.socialIcon a{
    float: right;
    padding: .1em
}
   
/*#endregion*/

/*#region Team*/
.asideDirectory{
    float: right;
    width: 25%;
    display:inline-block
}
.teamInfo{
   display: inline-block;
    width: 60%;
    border-right:1px solid black;
    
}

/*#endregion*/

